*{
    text-decoration: none;
}
body{
    margin: auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.1rem;
}
img{
    margin-top: 2em;
    background-color: #ffff;
}
.blanks{
    margin-bottom: 4em ;
    margin-top: 1em;
    width: 50em;
    height: 2rem;
    border-radius: .5rem;
    border-color: rgb(156 163 175);
    box-shadow: none;      /* Remove any shadow */
  appearance: none;      /* Remove default styling */
  border-style: solid;

}
.select{
    margin-bottom: 4em ;
    margin-top: 1em;
    width: 20em;
    height: 2rem;
    border-color: black;
    border-radius: .5rem;

}
label{
    margin-bottom: 2rem;
}
a, .links{
    display: flex;
    margin-bottom: 2em;
    flex-direction: column;
    color: red;
}
  .button{
            background-color: rgb(29 78 216);
            color: white;
            border-radius: .5rem;
            padding: .5rem 1rem;
            border: none;
         }
@media (max-width: 700px){ 

         body{
            max-width: 80%;
            margin: auto;
            font-size: 15px;
            padding: 0;

         }
         .blanks{
            width: 23em;
            height: 30px;   
            margin-bottom: 3em;

         }
       
          p,h2{
            width: 23em
         }
         
}